name: "Test"
run-name: run-hello-world
on:
    push:
        branches: 
            - main
            - dev
    pull_request: 
        branches: 
            - main
            - dev
    workflow_dispatch: 
jobs:
    script-hello:
        runs-on: windows-latest
        steps:
            - name: checkout step
              uses: actions/checkout@v4
            - name: run path based script
              run: |
                scripts\hello-world.ps1
            - name: Even name
              run: |
                Write-Host "❤️ this job is automacally triggered by a $($env:GITHUB_EVENT_NAME)"
                